
.input-container {
    display: flex;
    align-items: center;
    margin-top: -7vh;
}

.input {
    margin: 0 0.5vw;
    height: 2vw;
    width: 8vw;
    font-size: 1.5vw;
    text-align: center;
}

.separator {
    margin: 0 2vw;
    font-size: 2vw;
}