.error-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.error-card {
    background-color: white;
    color: #721c24;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid black;
    width: 30%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.error-card-header {
    display: flex;
    justify-content: flex-end;
}

.close-button {
    background: none;
    border: none;
    font-size: 18px;
    height: -2%;
    font-weight: bold;
    cursor: pointer;
    color: #721c24;
}

.error-card-body {
    text-align: center;
    margin-top: 10px;
}
