.col-vals-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 2vw;
    margin-bottom: 1vw;
    margin-top: -0.5vw;
}

.col-val-input {
    flex: 1;
    text-align: center;
    font-size: 1vw;
    height: 100%;
    box-sizing: border-box;
}
