.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
  overflow-y: scroll;
}

.grid-and-vals-container {
  display: flex;
  width: 52vw;
  height: 45vw;
  align-items: center;
  margin-right: 10%;
}