.row-vals-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5vw;
    height: calc(100% * 42 / 45);
    margin-right: 1vw;
    max-width: 9vw;
}

.row-val-input {
    flex: 1;
    text-align: center;
    font-size: 1vw;
    box-sizing: border-box;
}