.grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 3px solid black;
    overflow: hidden;
    position: relative;
}

.grid-row {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
}

.grid-cell {
    border: 1px solid black;
    box-sizing: border-box;
    flex: 1;
}
